body
{
    margin:0;
    padding-top: 800px;
    text-align:center;

}
.profile
{
    border-radius:50% ;
    
}
#welcome
{
    position:absolute;
    bottom:0;
     background:linear-gradient(#e33636 0%,#36e0e3 100%);
     display:table ;
     width:100% ;
     height:100% ; 
}
h1
{
    font-size:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
#name
{
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
}
h2
{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
#bio
{
    font-family: 'Lobster', cursive;
    padding:50px;
}
.line
{
    height:6px;
    background-color: black;
    width:70px;
    margin:8px auto;
}
.parallax-inner
{
    display: table-cell;
    vertical-align: middle;
}
.menu
{
    position:fixed;
    background-color:white;
    width:100%;
    top:0px;
    margin-top:0px;
    z-index: 10px;
}
.links
{
    display:line;
    padding-left: 33px;
    padding-right:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    
}
.links:hover
{
    font-size:25px;
    text-decoration:underline;
}
a{
    text-decoration:none ;
}
#writings a{
    text-decoration:underline !important;
    color:aqua !important;

}
#contact
{
  background-color: #e33636;
}
#contact iframe
{
    width:100%;
}
.contact1 h3
{
 display:inline;
}